@import url("/styles/base.css");

/* ------------------ Hero section ------------------- */
.btn {
  border: 0;
  outline: none;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  font-size: 1rem;
  background: none;
  width: fit-content;
}

.btn--link {
  text-decoration: none;
  color: black;
}

.btn__accent {
  background-color: var(--lime);
  border: 1px solid transparent;
  padding: 12px 24px;
  animation: 1s ease-out 0s 1 revealSection;
}
.btn__accent:hover {
  background-color: var(--lime-light);
  transition: background-color 250ms, border 300ms;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.hero {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 65%;
  padding-top: 5em;
  margin: 0 auto;
}
.hero > img {
  width: 50%;
}

.hero__content {
  display: flex;
  flex-direction: column;
  gap: 7vh;
  margin-bottom: 5rem;
}

.hero__content--details > h1 {
  font-size: 3vw;
  line-height: 1.2em;
  margin-bottom: 0.25em;
}

.hero__content--details {
  animation: 1s ease-out 0s 1 slideInLeft;
}

/* --------- Media Queries for Hero --------  */
@media screen and (max-width: 1200px) {
  .hero {
    flex-direction: column;
    width: 90%;
    justify-content: center;
  }

  .hero > img {
    margin: 0 auto;
  }

  .hero__content {
    text-align: center;
    gap: 4rem;
  }

  .hero__content--details > h1 {
    font-size: 2.5rem;
  }

  .btn {
    margin: 0 auto;
  }
}

@media screen and (max-width: 768px) {
  .hero > img {
    display: none;
  }
}

/* ------------------ Characteristics section ------------------- */
.characteristics {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4vh 0;
  background-color: var(--secondary);
}

.characteristics__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 65%;
}
.characteristics__wrapper > img {
  display: flex;
  max-width: 500px;
  width: 100%;
  flex-basis: 50%;
  height: auto;
}

.characteristics__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1em;
  flex-basis: 50%;
  list-style: none;
}

.characteristics__list--item {
  display: flex;
  gap: 5px;
  width: 100%;
  border-bottom: 1px solid black;
}
.characteristics__list--item > p {
  font-size: 1rem;
  margin: 5px 0;
}

/* --------- Media Queries for Characteristics --------  */
@media screen and (max-width: 1200px) {
  .characteristics__wrapper {
    flex-basis: 90%;
  }
}

@media screen and (max-width: 768px) {
  .characteristics {
    flex-direction: column;
  }

  .characteristics__wrapper {
    flex-direction: column;
    width: 100%;
  }

  .characteristics__list {
    width: 80%;
    margin: 1em 0;
  }

  .characteristics__list--item {
    width: 100%;
  }

  .mobileonly {
    display: block;
  }
}

/* ------------------ Featured section ------------------- */
.featured {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--main);
  margin: 0 auto;
  width: 65%;
  padding: 4em 0 1em 0;
}

.featured img {
  width: 200px;
  margin: 1em 0;
}

.featured img:last-child {
  width: 150px;
}

.featured__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
}

/* --------- Media Queries for Featured --------  */
@media screen and (max-width: 1200px) {
  .featured__container {
    justify-content: space-evenly;
    gap: 20px;
  }
  .featured {
    width: 90%;
  }
  .featured img {
    width: 180px;
  }
  .featured img:last-child {
    width: 130px;
  }
}

@media screen and (max-width: 768px) {
  .featured img {
    width: 150px;
  }
  .featured img:last-child {
    width: 100px;
  }
  .featured > h2 {
    margin-bottom: 1em;
  }
}

/* ------------------ Card/reviews section ------------------- */
.cards {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  background-color: var(--tertiary);
  margin: 2em 0 7em 0;
}

.cards__wrapper {
  display: flex;
  max-width: 1050px;
  margin: 3em 0;
  border-radius: 10px;
  overflow: hidden;
  scroll-behavior: smooth;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 350px;
  background: white;
  padding: 2em 2em 1.5em 2em;
  border-radius: 10px;
  margin-right: 10px;
}

.card:last-child {
  margin-right: 0;
}

.card__reviewer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  text-align: right;
  margin: 10px 0 0 0;
}

.card__reviewer > div > p {
  font-family: ManropeBold, sans-serif;
  font-size: 14px;
}

.card__reviewer > div > span {
  font-size: 14px;
}

.card__reviewer > img {
  width: 50px;
  border-radius: 5px;
}

.card:nth-child(2n) {
  border-bottom: 7px solid lightskyblue;
}

.card:nth-child(2n-1) {
  border-bottom: 7px solid lightpink;
}

.cards__navigation {
  max-width: 1100px;
  width: 100%;
  position: absolute;
  justify-content: space-between;
  display: flex;
  z-index: 15;
}
.cards__navigation > button {
  background: none;
  outline: none;
  border: none;
}

.cards__navigation > button:active {
  transform: scale(0.9);
}
.cards__navigation > button:disabled {
  opacity: 40%;
}

.cards__navigation img {
  width: 45px;
  background: var(--secondary);
  padding: 5px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(1px 2px 3px rgba(0, 0, 0, 0.2));
}

/* --------- Media Queries for cards/reviews --------  */
@media screen and (max-width: 1250px) {
  .cards__wrapper {
    width: 700px;
    border-radius: 7px;
  }
  .cards__navigation {
    max-width: 750px;
  }
}

@media screen and (max-width: 768px) {
  .cards__wrapper {
    width: 350px;
  }
  .cards__navigation {
    max-width: 400px;
  }
}
